xml-resources/web-service-references/roleLecturer/wsdl/localhost_65149/Proyek2JavaWS/roleLecturer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.nurul.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.nurul.com/">

<xs:element name="addRoleLecturer" type="tns:addRoleLecturer"/>

<xs:element name="addRoleLecturerResponse" type="tns:addRoleLecturerResponse"/>

<xs:element name="deleteRoleLecturer" type="tns:deleteRoleLecturer"/>

<xs:element name="deleteRoleLecturerResponse" type="tns:deleteRoleLecturerResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="updateRoleLecturer" type="tns:updateRoleLecturer"/>

<xs:element name="updateRoleLecturerResponse" type="tns:updateRoleLecturerResponse"/>

<xs:complexType name="updateRoleLecturer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="Status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRoleLecturerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addRoleLecturer">
<xs:sequence>
<xs:element name="Status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addRoleLecturerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRoleLecturer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRoleLecturerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>