xml-resources/web-service-references/roleLecturer/wsdl/localhost_65149/Proyek2JavaWS/roleLecturer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.nurul.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.nurul.com/" name="roleLecturer">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.nurul.com/" schemaLocation="http://localhost:65149/Proyek2JavaWS/roleLecturer?xsd=1"/>
</xsd:schema>
</types>
<message name="updateRoleLecturer">
<part name="parameters" element="tns:updateRoleLecturer"/>
</message>
<message name="updateRoleLecturerResponse">
<part name="parameters" element="tns:updateRoleLecturerResponse"/>
</message>
<message name="deleteRoleLecturer">
<part name="parameters" element="tns:deleteRoleLecturer"/>
</message>
<message name="deleteRoleLecturerResponse">
<part name="parameters" element="tns:deleteRoleLecturerResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addRoleLecturer">
<part name="parameters" element="tns:addRoleLecturer"/>
</message>
<message name="addRoleLecturerResponse">
<part name="parameters" element="tns:addRoleLecturerResponse"/>
</message>
<portType name="roleLecturer">
<operation name="updateRoleLecturer">
<input wsam:Action="http://ws.nurul.com/roleLecturer/updateRoleLecturerRequest" message="tns:updateRoleLecturer"/>
<output wsam:Action="http://ws.nurul.com/roleLecturer/updateRoleLecturerResponse" message="tns:updateRoleLecturerResponse"/>
</operation>
<operation name="deleteRoleLecturer">
<input wsam:Action="http://ws.nurul.com/roleLecturer/deleteRoleLecturerRequest" message="tns:deleteRoleLecturer"/>
<output wsam:Action="http://ws.nurul.com/roleLecturer/deleteRoleLecturerResponse" message="tns:deleteRoleLecturerResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.nurul.com/roleLecturer/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.nurul.com/roleLecturer/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addRoleLecturer">
<input wsam:Action="http://ws.nurul.com/roleLecturer/addRoleLecturerRequest" message="tns:addRoleLecturer"/>
<output wsam:Action="http://ws.nurul.com/roleLecturer/addRoleLecturerResponse" message="tns:addRoleLecturerResponse"/>
</operation>
</portType>
<binding name="roleLecturerPortBinding" type="tns:roleLecturer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateRoleLecturer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRoleLecturer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRoleLecturer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="roleLecturer">
<port name="roleLecturerPort" binding="tns:roleLecturerPortBinding">
<soap:address location="http://localhost:65149/Proyek2JavaWS/roleLecturer"/>
</port>
</service>
</definitions>