xml-resources/web-service-references/Semester/wsdl/localhost_65149/Proyek2JavaWS/Semester.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.nurul.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.nurul.com/" name="Semester">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.nurul.com/" schemaLocation="http://localhost:65149/Proyek2JavaWS/Semester?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addSemester">
<part name="parameters" element="tns:addSemester"/>
</message>
<message name="addSemesterResponse">
<part name="parameters" element="tns:addSemesterResponse"/>
</message>
<message name="updateSemester">
<part name="parameters" element="tns:updateSemester"/>
</message>
<message name="updateSemesterResponse">
<part name="parameters" element="tns:updateSemesterResponse"/>
</message>
<message name="deleteSemester">
<part name="parameters" element="tns:deleteSemester"/>
</message>
<message name="deleteSemesterResponse">
<part name="parameters" element="tns:deleteSemesterResponse"/>
</message>
<portType name="Semester">
<operation name="hello">
<input wsam:Action="http://ws.nurul.com/Semester/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.nurul.com/Semester/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addSemester">
<input wsam:Action="http://ws.nurul.com/Semester/addSemesterRequest" message="tns:addSemester"/>
<output wsam:Action="http://ws.nurul.com/Semester/addSemesterResponse" message="tns:addSemesterResponse"/>
</operation>
<operation name="updateSemester">
<input wsam:Action="http://ws.nurul.com/Semester/updateSemesterRequest" message="tns:updateSemester"/>
<output wsam:Action="http://ws.nurul.com/Semester/updateSemesterResponse" message="tns:updateSemesterResponse"/>
</operation>
<operation name="deleteSemester">
<input wsam:Action="http://ws.nurul.com/Semester/deleteSemesterRequest" message="tns:deleteSemester"/>
<output wsam:Action="http://ws.nurul.com/Semester/deleteSemesterResponse" message="tns:deleteSemesterResponse"/>
</operation>
</portType>
<binding name="SemesterPortBinding" type="tns:Semester">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSemester">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSemester">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSemester">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Semester">
<port name="SemesterPort" binding="tns:SemesterPortBinding">
<soap:address location="http://localhost:65149/Proyek2JavaWS/Semester"/>
</port>
</service>
</definitions>