xml-resources/web-service-references/RoomWS/wsdl/localhost_65149/Proyek2JavaWS/RoomWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.nurul.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.nurul.com/" name="RoomWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.nurul.com/" schemaLocation="http://localhost:65149/Proyek2JavaWS/RoomWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addRoom">
<part name="parameters" element="tns:addRoom"/>
</message>
<message name="addRoomResponse">
<part name="parameters" element="tns:addRoomResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="updateRoom">
<part name="parameters" element="tns:updateRoom"/>
</message>
<message name="updateRoomResponse">
<part name="parameters" element="tns:updateRoomResponse"/>
</message>
<message name="deleteRoom">
<part name="parameters" element="tns:deleteRoom"/>
</message>
<message name="deleteRoomResponse">
<part name="parameters" element="tns:deleteRoomResponse"/>
</message>
<portType name="RoomWS">
<operation name="addRoom">
<input wsam:Action="http://ws.nurul.com/RoomWS/addRoomRequest" message="tns:addRoom"/>
<output wsam:Action="http://ws.nurul.com/RoomWS/addRoomResponse" message="tns:addRoomResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.nurul.com/RoomWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.nurul.com/RoomWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="updateRoom">
<input wsam:Action="http://ws.nurul.com/RoomWS/updateRoomRequest" message="tns:updateRoom"/>
<output wsam:Action="http://ws.nurul.com/RoomWS/updateRoomResponse" message="tns:updateRoomResponse"/>
</operation>
<operation name="deleteRoom">
<input wsam:Action="http://ws.nurul.com/RoomWS/deleteRoomRequest" message="tns:deleteRoom"/>
<output wsam:Action="http://ws.nurul.com/RoomWS/deleteRoomResponse" message="tns:deleteRoomResponse"/>
</operation>
</portType>
<binding name="RoomWSPortBinding" type="tns:RoomWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RoomWS">
<port name="RoomWSPort" binding="tns:RoomWSPortBinding">
<soap:address location="http://localhost:65149/Proyek2JavaWS/RoomWS"/>
</port>
</service>
</definitions>