xml-resources/web-service-references/DepartmentWS_1/wsdl/localhost_65149/Proyek2JavaWS/DepartmentWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.nurul.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.nurul.com/" name="DepartmentWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.nurul.com/" schemaLocation="http://localhost:65149/Proyek2JavaWS/DepartmentWS?xsd=1"/>
</xsd:schema>
</types>
<message name="AddDepartment">
<part name="parameters" element="tns:AddDepartment"/>
</message>
<message name="AddDepartmentResponse">
<part name="parameters" element="tns:AddDepartmentResponse"/>
</message>
<message name="showAllDepartmentWS">
<part name="parameters" element="tns:showAllDepartmentWS"/>
</message>
<message name="showAllDepartmentWSResponse">
<part name="parameters" element="tns:showAllDepartmentWSResponse"/>
</message>
<message name="deleteDepartmentWS">
<part name="parameters" element="tns:deleteDepartmentWS"/>
</message>
<message name="deleteDepartmentWSResponse">
<part name="parameters" element="tns:deleteDepartmentWSResponse"/>
</message>
<message name="updateDepartmentWS">
<part name="parameters" element="tns:updateDepartmentWS"/>
</message>
<message name="updateDepartmentWSResponse">
<part name="parameters" element="tns:updateDepartmentWSResponse"/>
</message>
<portType name="DepartmentWS">
<operation name="AddDepartment">
<input wsam:Action="http://ws.nurul.com/DepartmentWS/AddDepartmentRequest" message="tns:AddDepartment"/>
<output wsam:Action="http://ws.nurul.com/DepartmentWS/AddDepartmentResponse" message="tns:AddDepartmentResponse"/>
</operation>
<operation name="showAllDepartmentWS">
<input wsam:Action="http://ws.nurul.com/DepartmentWS/showAllDepartmentWSRequest" message="tns:showAllDepartmentWS"/>
<output wsam:Action="http://ws.nurul.com/DepartmentWS/showAllDepartmentWSResponse" message="tns:showAllDepartmentWSResponse"/>
</operation>
<operation name="deleteDepartmentWS">
<input wsam:Action="http://ws.nurul.com/DepartmentWS/deleteDepartmentWSRequest" message="tns:deleteDepartmentWS"/>
<output wsam:Action="http://ws.nurul.com/DepartmentWS/deleteDepartmentWSResponse" message="tns:deleteDepartmentWSResponse"/>
</operation>
<operation name="updateDepartmentWS">
<input wsam:Action="http://ws.nurul.com/DepartmentWS/updateDepartmentWSRequest" message="tns:updateDepartmentWS"/>
<output wsam:Action="http://ws.nurul.com/DepartmentWS/updateDepartmentWSResponse" message="tns:updateDepartmentWSResponse"/>
</operation>
</portType>
<binding name="DepartmentWSPortBinding" type="tns:DepartmentWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllDepartmentWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDepartmentWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDepartmentWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DepartmentWS">
<port name="DepartmentWSPort" binding="tns:DepartmentWSPortBinding">
<soap:address location="http://localhost:65149/Proyek2JavaWS/DepartmentWS"/>
</port>
</service>
</definitions>