xml-resources/web-service-references/FacultyWS/wsdl/localhost_65149/Proyek2JavaWS/FacultyWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.nurul.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.nurul.com/" name="FacultyWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.nurul.com/" schemaLocation="http://localhost:65149/Proyek2JavaWS/FacultyWS?xsd=1"/>
</xsd:schema>
</types>
<message name="updateFaculty">
<part name="parameters" element="tns:updateFaculty"/>
</message>
<message name="updateFacultyResponse">
<part name="parameters" element="tns:updateFacultyResponse"/>
</message>
<message name="deleteFaculty">
<part name="parameters" element="tns:deleteFaculty"/>
</message>
<message name="deleteFacultyResponse">
<part name="parameters" element="tns:deleteFacultyResponse"/>
</message>
<message name="addFaculty">
<part name="parameters" element="tns:addFaculty"/>
</message>
<message name="addFacultyResponse">
<part name="parameters" element="tns:addFacultyResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="FacultyWS">
<operation name="updateFaculty">
<input wsam:Action="http://ws.nurul.com/FacultyWS/updateFacultyRequest" message="tns:updateFaculty"/>
<output wsam:Action="http://ws.nurul.com/FacultyWS/updateFacultyResponse" message="tns:updateFacultyResponse"/>
</operation>
<operation name="deleteFaculty">
<input wsam:Action="http://ws.nurul.com/FacultyWS/deleteFacultyRequest" message="tns:deleteFaculty"/>
<output wsam:Action="http://ws.nurul.com/FacultyWS/deleteFacultyResponse" message="tns:deleteFacultyResponse"/>
</operation>
<operation name="addFaculty">
<input wsam:Action="http://ws.nurul.com/FacultyWS/addFacultyRequest" message="tns:addFaculty"/>
<output wsam:Action="http://ws.nurul.com/FacultyWS/addFacultyResponse" message="tns:addFacultyResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.nurul.com/FacultyWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.nurul.com/FacultyWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="FacultyWSPortBinding" type="tns:FacultyWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateFaculty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteFaculty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addFaculty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FacultyWS">
<port name="FacultyWSPort" binding="tns:FacultyWSPortBinding">
<soap:address location="http://localhost:65149/Proyek2JavaWS/FacultyWS"/>
</port>
</service>
</definitions>