src/main/java/META-INF/wsdl/localhost_65149/Proyek2JavaWS/DepartmentWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.nurul.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.nurul.com/">

<xs:element name="AddDepartment" type="tns:AddDepartment"/>

<xs:element name="AddDepartmentResponse" type="tns:AddDepartmentResponse"/>

<xs:element name="deleteDepartmentWS" type="tns:deleteDepartmentWS"/>

<xs:element name="deleteDepartmentWSResponse" type="tns:deleteDepartmentWSResponse"/>

<xs:element name="showAllDepartmentWS" type="tns:showAllDepartmentWS"/>

<xs:element name="showAllDepartmentWSResponse" type="tns:showAllDepartmentWSResponse"/>

<xs:element name="updateDepartmentWS" type="tns:updateDepartmentWS"/>

<xs:element name="updateDepartmentWSResponse" type="tns:updateDepartmentWSResponse"/>

<xs:complexType name="deleteDepartmentWS">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDepartmentWSResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddDepartment">
<xs:sequence>
<xs:element name="code" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="faculty_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddDepartmentResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showAllDepartmentWS">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showAllDepartmentWSResponse">
<xs:sequence>
<xs:element name="return" type="tns:department" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="department">
<xs:sequence>
<xs:element name="code" type="xs:short"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDepartmentWS">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="code" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="faculty_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDepartmentWSResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>